@model CShap_MVC_VuDoan.Models.Blogs
@{
    ViewBag.Title = "New";
}

@using (Html.BeginForm())
{
    <h2>New Blogs</h2>
    <div class="form-horizontal">
        <div class="form-group">
            <div>
                <label for="title" id="lbl-top">Tiêu đề</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @id = "txt-right" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="title" id="lbl-top">Mô tả ngắn</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionShort, new { htmlAttributes = new { @class = "form-control", @id = "txt-right" } })
                @Html.ValidationMessageFor(model => model.DescriptionShort, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="title" id="lbl-top">Chi tiết</label>
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Detail, new
               {
                   htmlAttributes = new
                   {
                       @id = "txt-area",
                       @class = "form-control",
                       @cols = "50",
                       @rows = "10",
                       @minlength = "5",
                       @required = "true"
                   }
               })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="title" id="lbl-top">Hình ảnh</label>
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Image, new { type = "file" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="title" id="lbl-top">Loại</label>
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Category, new List<SelectListItem>
            {
               new SelectListItem{ Text="Giải trí", Value = "Giải trí" },
               new SelectListItem{ Text="Thời sự", Value = "Thời sự" },
               new SelectListItem{ Text="Thể thao", Value = "Thể thao" },
               new SelectListItem{ Text="Thế giới", Value = "Thế giới" },
               new SelectListItem{ Text="Pháp luật", Value = "Pháp luật" },
               new SelectListItem{ Text="Kinh doanh", Value = "Kinh doanh" }
            })
            </div>

            <div class="form-group">
                <div>
                    <label for="title" id="lbl-top">Vị trí</label>
                </div>
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.Locations, "Việt Nam")<label > Việt Nam</label><br />
                    @Html.RadioButtonFor(model => model.Locations, "Châu Á")<label >Châu Á</label><br />
                    @Html.RadioButtonFor(model => model.Locations, "Châu ÂU")<label >Châu Âu</label><br />
                    @Html.RadioButtonFor(model => model.Locations, "Châu Mĩ")<label >Châu Mĩ</label>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label for="title" id="lbl-top">Trạng thái</label>
                </div>
                <div class="col-md-10">
                    
                    @Html.RadioButtonFor(model => model.Publics, "True")<label>Yes</label><br />
                    @Html.RadioButtonFor(model => model.Publics, "False")<label>No</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<button type="button" class="btn btn-success" onclick="news()">Tạo mới</button>*@
                    @Html.ActionLink("Tạo mới", "New", new
                    {
                        htmlAttributes = new { @class = "btn btn-success" }
                    })
                    <button type="button" class="btn btn-primary" onclick="clear()">Clear</button>
                </div>
            </div>
        </div>
    </div>
}




